* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  /* Colors */
  --color-primary: #C56520;
  --color-background: #D8D8D8;
  --color-text: #000000;

  /* Font Families */
  --font-hero: 'Julius Sans One', sans-serif;
  --font-speaker-name: 'ADLaM Display', sans-serif;
  --font-p: 'Teachers', sans-serif;

  /* Font Sizes */
  --size-hero: clamp(55px, 7.3vw, 105px); /* clamp() for fluidly size change (using @media would be a chop) */     
  --size-speaker-name: clamp(22px, 2.5vw, 36px);
  --size-p: clamp(16px, 1.8vw, 26px);

  /* Font Weights */
  --weight-hero: 600;
  --weight-speaker-name: 500; /* 400 is the regular weight */
  --weight-p: 400;
}

body {
  font-family: var(--font-p);
  background-color: var(--color-background);
  color: var(--color-text);
  overflow-x: hidden; /* It makes x-axel not exed the screen */
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
                                                                           /* 1 PAGE STARTS HERE! */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------
   2. NAVBAR
---------------------------------- */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1vw 2vw;
}

.logo {
  height: clamp(25px, 2.7vw, 40px);
  cursor: pointer; 
}

.menu-icon {
  height: clamp(16px, 1.6vw, 24px);
  cursor: pointer;
}

/* ----------------------------------
   3. THE MAIN LAYOUT (FLEXBOX)
---------------------------------- */
.container {
  display: flex; /* Enabling flex in css is the equivalent to auto layout in Figma */
  align-items: center;
  justify-content: space-around;
  min-height: 80vh;
  padding: 0 5%;
  gap: 4vw;
}

.left-side {
  position: relative; /* Tells the ABSOLUTE shapes inside to stay inside this box (WITHOUT THIS EVERYTHING COLLAPSES!) */
  width: 53%; 
  height: clamp(350px, 42vw, 600px); 
}

.right-side {
  width: 35%;
  margin: 6vw;
}

/* ----------------------------------
   4. THE IMAGE LAYERS 
---------------------------------- */

/* SHARE. CONNECT. ENJOY. */
.main-title {
  position: absolute;
  font-family: var(--font-hero);
  font-weight: var(--weight-hero);
  font-size: var(--size-hero);
  line-height: 0.9;
  top: 0%;
  left: 0%;
  z-index: 10; /* Moves element front and back (layers) */
}


/* The Orange Circle */
.orange-circle {
  position: absolute;
  width: 94%;
  top: -36%;
  left: 10%;
  z-index: 2; 
}

/* The Main Speaker */
.speaker {
  position: absolute;
  width: 82%; 
  top: 27%;
  left: 25%;
  z-index: 3; 
}

/* The Wavy Lines */
.wave-line1 {
  position: absolute;
  width: 250%;
  top: -122%;
  left: -30%;
  z-index: 1; 
  transform: rotate(9deg); 
  pointer-events: none; /* Clicks now pass straight through the "invisible glass box" that is behind the HUGE wave, making it possible to click on all buttons */
}

/* ----------------------------------
   5. RIGHT SIDE TEXT & BUTTONS
---------------------------------- */
.product-title {
  font-family: var(--font-speaker-name);
  font-weight: var(--weight-speaker-name);
  font-size: var(--size-speaker-name);
  margin-bottom: 15px;
}

.product-text {
  font-family: var(--font-p);
  font-size: var(--size-p);
  font-weight: var(--weight-p);
  
  line-height: 1.6;
  margin-bottom: 30px;
}

.button-group {
  display: flex;
  gap: 20px; /* Puts a gap between the two buttons */
}

.btn {
  padding: 12px 35px;
  font-family: var(--font-speaker-name);
  font-weight: var(--weight-speaker-name);
  font-size: var(--size-speaker-name);
  text-decoration: none;
  border-radius: 25px; 
}

.btn-orange {
  background-color: var(--color-primary);
  color: var(--color-text);
}

.btn-outline {
  background-color: transparent;
  color: var(--color-text);
  border: 4px solid var(--color-primary);
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
                                                                           /* 2 PAGE STARTS HERE! */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------
   THE GRID LAYOUT
---------------------------------- */
.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Divides grid container into 3 colums of equal width that autommatically grow/shrink. Repeat(3, 1fr) Do exact thing 3 times, each unit takes equally much space. (The same as 1fr 1fr 1fr) */
  gap: 22vw;
  padding: 340px 3%;
  align-items: flex-start; /* Locks alignment to the top of each track */
}

.share { 
  margin-top: 300px; 
}
.enjoy { 
  margin-top: 620px; 
}

/* ----------------------------------
   ELEMENT STYLING 
---------------------------------- */
.features article {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}

.features img {
  height: auto;
  max-width: 360px;
  margin-bottom: 1px;
}

.features h2 {
  font-family: var(--font-hero);
  font-weight: var(--weight-hero);
  font-size: var(--size-hero);
  color: var(--color-primary);
  margin-bottom: 25px;
}

.features ul {
  font-family: var(--font-p);
  font-weight: var(--weight-p);
  font-size: 28px; /* --size-p: 36px; is waay to big, this a thing to tweek later on */

  line-height: 1.5;
  padding-left: 20px;      
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
                                                                           /* 3 PAGE STARTS HERE! */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* ----------------------------------
   GLOBAL LAYOUT
---------------------------------- */
.product-page {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 5%;
  overflow: hidden;         
}

/* ----------------------------------
   PRIMARY STRUCTURAL CORES
---------------------------------- */
.product-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;        
  z-index: 10;                
}

/* ----------------------------------
   PRODUCT GALLERY (LEFT)
---------------------------------- */
.product-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.main-product-img {
  width: 100%;
  max-width: 1000px;          
}

.arrow-btn-left,
.arrow-btn-right {
  background: none;
  border: none;
  cursor: pointer;
  padding: 20px;
}

/* ----------------------------------
   PRODUCT INFO (RIGHT)
---------------------------------- */
.product-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 35%;
}

.product-name {
  font-family: var(--font-speaker-name);
  font-weight: var(--weight-speaker-name);
  font-size: var(--size-speaker-name);
  color: var(--color-text);
}

.price-display {
  font-family: var(--font-p);
  font-weight: var(--weight-p);
  font-size: var(--size-p);
  margin-bottom: 25px;
}

.tax-info {
  font-size: 20px;
  color: #8C8C8C;            
}

.btn-buy {
  background-color: var(--color-primary);
  font-family: var(--font-speaker-name);
  font-size: var(--size-speaker-name);
  font-weight: var(--weight-speaker-name);
  color: var(--color-text);
  text-decoration: none;
  padding: 12px 55px;
  border-radius: 25px;
}

/* ----------------------------------
   UTILITY & DECORATIVE OVERLAYS
---------------------------------- */
.product-footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  bottom: 20px;
  left: 0;
  width: 105%;
  padding: 0 6%;
  z-index: 10;
}

.social-links {
  display: flex;
  gap: 10px;
  margin-left: -5%;
}

.social-links img {
  width: 40px;                
}

.trustpilot {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.trustpilot a {
  font-family: var(--font-p);
  font-size: 13px;
  color: var(--color-text);
  text-decoration: none;
}

.trustpilot img {
  width: 130px;
}

.trustpilot p {
  font-family: var(--font-p);
  font-size: 12px;
  color: var(--color-text);
}

.wave-line2 {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  z-index: 1;                
  pointer-events: none;      
}